<img src="../../content/images/private-industrial-iot-network.jpg" alt="Background" class="main-background" />
<div [ngSwitch]="account !== null">
  <div class="main-container">
    <div class="header-main">
      <div class="header-container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="" class="navbar-brand">
                <img src="../../content/images/logo-rang-dong.webp" alt="Logo" />
              </a>
            </div>

            <div class="navbar-nav">
              <a href="/">
                <h2>Công ty cổ phần bóng đèn phích nước Rạng Đông</h2>
              </a>
            </div>

            <div *ngSwitchCase="false">
              <button (click)="login()" class="btn btn-success" data-cy="login" id="loginButton">Đăng nhập</button>
            </div>
            <ul *ngSwitchCase="true" class="btn btn-user navbar-btn navbar-right">
              <li (mouseenter)="showMenu()" (mouseleave)="hideMenu()">
                <fa-icon icon="user"></fa-icon>
                <ul class="list-option-user">
                  <li style="border-bottom: 1px #ddd solid">
                    <a style="color: #1677ff">{{ this.account?.login }}</a>
                  </li>
                  <hr style="margin: auto" />
                  <li><a class="btn-logout" href="" style="color: #ed2b2a" (click)="logout()">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
  <table *ngSwitchCase="true" class="table-container">
    <tbody>
      <tr>
        <!-- <td style="padding-left: 50px">
          <article class="article" (click)="linkMRP()" style="background-color: #e9a89b">
            <fa-icon [icon]="faGears"></fa-icon>
          </article>
          <h2 class="article__title">MRP</h2>
        </td> -->

        <td>
          <article class="article" (click)="linkPlanning()" style="background-color: #d875c7">
            <fa-icon [icon]="faFolderOpen"></fa-icon>
          </article>
          <h1 class="article__title">PLANNING</h1>
        </td>

        <td>
          <article class="article" (click)="linkQMS()" style="background-color: #7aa2e3">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </article>
          <h1 class="article__title">QMS</h1>
        </td>

        <td>
          <article class="article" (click)="linkSCADA()" style="background-color: #135d66">
            <fa-icon [icon]="faNetworkWired"></fa-icon>
          </article>
          <h1 class="article__title">SCADA</h1>
        </td>

        <td>
          <article class="article" (click)="linkDoiTra()" style="background-color: #34c759">
            <fa-icon [icon]="faRepeat"></fa-icon>
          </article>
          <h1 class="article__title">Đổi trả</h1>
        </td>

        <td>
          <article class="article" (click)="linkProfile()" style="background-color: #e68369">
            <fa-icon [icon]="faBarcode"></fa-icon>
          </article>
          <h1 class="article__title">Profile</h1>
        </td>

        <!-- <td>
          <article class="article" (click)="linkWarning()" style="background-color: #e72929">
            <fa-icon [icon]="faCircleExclamation"></fa-icon>
          </article>
          <h1 class="article__title">Warning</h1>
        </td> -->

        <!-- <td style="padding-right: 50px">
          <article class="article" (click)="linkWMS()" style="background-color: #97e7e1">
            <fa-icon [icon]="faBoxArchive"></fa-icon>
          </article>
          <h1 class="article__title">WMS</h1>
        </td> -->
      </tr>
      <tr>
        <!-- <td style="padding-left: 50px">
          <article class="article" (click)="linkR2()" style="background-color: #8decb4">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </article>
          <h1 class="article__title">R2</h1>
        </td> -->

        <!-- <td>
          <article class="article" (click)="linkQMS()" style="background-color: #7aa2e3">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </article>
          <h1 class="article__title">QMS</h1>
        </td> -->

        <td>
          <article class="article" (click)="linkMaintance()" style="background-color: #704264">
            <fa-icon [icon]="faDesktop"></fa-icon>
          </article>
          <h1 class="article__title">Maintaince</h1>
        </td>

        <td>
          <article class="article" (click)="linkReport()" style="background-color: #ffc94a">
            <fa-icon [icon]="faMessage"></fa-icon>
          </article>
          <h1 class="article__title">Report</h1>
        </td>
        <td>
          <article class="article" (click)="linkDOC()" style="background-color: #912bbc">
            <fa-icon [icon]="faFileLines"></fa-icon>
          </article>
          <h1 class="article__title">Document</h1>
        </td>

        <td>
          <article class="article" (click)="linkForum()" style="background-color: #b3c8cf">
            <fa-icon [icon]="faUserGroup"></fa-icon>
          </article>
          <h1 class="article__title">RD Forums</h1>
        </td>

        <!-- <td style="padding-right: 50px">
          <article class="article" (click)="linkQuanLyThietBi()" style="background-color: #ff4191">
            <fa-icon [icon]="faDatabase"></fa-icon>
          </article>
          <h1 class="article__title">Maintain</h1>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
